/* Color Palette
San Marino
#436CA1
Bison Hide
#CAB8AD
Shark
#1E2128
Polo Blue
#8AAED3
*/

/* Global styles 
------------------------------------*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #1E2128;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin: 0;
}

h1 {  
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
}

h2 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
}

h3 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.content-wrap {
    width: 950px;
    max-width: 950px;
    margin: 0 auto;
    padding: 5px;
    overflow: hidden;
}

/* Header & Footer 
------------------------------------*/
header {
    background: #8AAED3;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

footer {
    background: #8AAED3;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}

.contact-info a {
    padding: 10px;
    display: inline-block;
}

.profile-image {
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #8AAED3;
}

.column-narrow {
    width: 30%;
    float: left;
    padding-right: 3%;
    min-height: 175px;
}

.column-wide {
    width: 70%;
    float: left;
    min-height: 225px;
}

/* Work Experience
------------------------------------*/
.work-experience-wrap {
    background: #436CA1;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}


/* Education
------------------------------------*/
.education-wrap {
    background: #CAB8AD;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}